@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100vh;
}
.core {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 95px;
    letter-spacing: -5px;
}
nav {
    font-family: 'arial', 'Sans-serif';
}
.top {
    display: flex;
}
.top left {
    flex: row;
    justify-content: flex-start;
}
.top right {
    flex: row-reverse;
    align-content: justify-left;
}
#profile img{
    border-radius: 20px;
}
.inline {
    display: inline;
}

.searcharea{
    position: relative;
}
#searchinput {
    background: #ffffff;
    font-family: 'arial', 'Sans-serif';
    min-width: 484px;
    height: 44px;
    font-size: 16px;
    font-weight: 100;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px;
    box-shadow: 0px 1px 1px 1px #c8c8c8;
    color: #222222;
    outline: none;
}
.link a {
    text-decoration: none;
}
#searchinput:hover {
    box-shadow: 1px 2px 4px 1px #cfcece;
}
li {
    display: inline;
    padding: 2px;
}
.btn {
    border: 1px solid #f2f2f2;
    height: 36px;
    font-family: 'arial', 'Sans-serif';
    padding: 0 16px;
    min-width: 54px;
    font-weight: bold;
    font-size: 13px;
    color: #757575;
    cursor: default;
    text-align: center;
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border-radius: 2px;
}
.btn:hover {
    border: 1px solid #d3d3d3;
}

.red {
    color: #DB4337;
}
.yellow {
    color: #F4B400;
}   
.green {
    color: #0F9D58;
}
.blue {
    color: #4285F4;
}